body {
    background-image: url(../images/background.jpg);
    display: block;
    margin: 30px auto 30px auto;
    font-size: 25px;

}

h1 {
    display: none;
}

.titleImage {
    max-width: 100%;
    background-color: blueviolet;
    border: 3px hotpink solid;
    border-radius: 40%;
}


.instructions,
.question,
#timeUpScreen {
    background-color: hotpink;
    color: mediumblue;
    font-family: 'Caveat Brush', cursive;
    margin: 20px;
    padding: 10px;
}

h2,
p {
    font-size: 30px;
    text-align: center;
}

.btn-primary {
    color: lightpink;
    font-size: 30px;
    font-family: 'Caveat Brush', cursive;
    background-color: #0000cd;
    border: 2px solid #b5f2d4;

}

form {
    width: 100%;
}

.buttonColumn {
    margin: auto;
}

#timeUpScreen {
    text-align: center;
}